
@import url('//cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css');
@import url('//cdn.jsdelivr.net/npm/react-table@6.10.0/react-table.css');

body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
    font-size: 14px;
  }
.button-search {
  position: absolute;
  right: 20px;
  margin-top: 400px;
}

.favorite {
  position: absolute;
  right: 20px;
  margin-top: 40px;
}

.logs {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 60px;
  margin-bottom: 60px;
}
.title {
  margin-bottom: 30px;
  font-size: 18px;
}
.metrics {
  margin-left: 20px;
  margin-right: 20px;
}

.listHeader {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
  font-size: 14px;
  list-style-type: square;
  margin-left: 20px;
  margin-top: 20px;
}
.listContent {
  padding-left:5em;
  margin: 5px;
  list-style-type: disc;
}

.ui.styled.accordion{
  width: 100%;
  max-height:500px;
  overflow-y:scroll;
}

// Tree CSS
.toggle-icon {
  display: inline-block; }
  .toggle-icon-symbol {
    width: 2rem;
    height: 2rem;
    text-align: center;
    line-height: 2rem; }

.tree-item-group {
  list-style-type: none;
  padding-left: 0;
  border-radius: .28571429rem;
  background: #fff;
  box-shadow: 0 1px 2px 0 rgba(34,36,38,.15), 0 0 0 1px rgba(34,36,38,.15);
  max-height:500px;
  overflow-y:scroll; }

.tree-item {
  padding: 0.75rem 1rem;
  cursor: pointer;
  color: #333;
  background: none;
  border-bottom: 1px solid #ccc;
  box-shadow: none;
  z-index: unset;
  position: relative; }
  .tree-item--active {
    color: white;
    background: #179ed3;
    border-bottom: none; }
  .tree-item--focused { 
    box-shadow: 0 0 5px 0 #222;
    z-index: 999; }

.search {
  padding: 1rem 1.5rem;
  border: none;
  width: 100%; }

.tree-selection-helper {
  padding: 10px;
  font-style: italic;
  font-weight: bold;
}

